Source: rapid-photo-downloader
Section: graphics
Priority: optional
Maintainer: Jörg Frings-Fürst <debian@jff-webhosting.net>
Build-Depends:
 debhelper (>= 9),
 dh-python,
 python,
 gettext
Standards-Version: 3.9.6
X-Python-Version: 2.7
Homepage: http://damonlynch.net/rapid
Vcs-Git: git://anonscm.debian.org/collab-maint/rapid-photo-downloader.git
Vcs-Browser: http://anonscm.debian.org/cgit/collab-maint/rapid-photo-downloader.git

Package: rapid-photo-downloader
Architecture: all
Depends:
 ${python:Depends},
 ${misc:Depends},
 python-dbus,
 python-gtk2 (>= 2.12),
 python-glade2 (>= 2.17),
 python-gconf (>= 2.28),
 python-gnome2 (>= 2.28),
 python-pyexiv2 (>= 0.3),
 python-notify (>= 0.1.1),
 python-imaging (>= 1.1.7),
 librsvg2-common (>= 2.26),
 gnome-icon-theme,
 libimage-exiftool-perl,
 exiv2,
 exiftran
Recommends:
 python-kaa-metadata,
 python-hachoir-metadata,
 ffmpegthumbnailer
Description: Photo downloader (importer) from cameras, memory cards, other devices
 Rapid Photo Downloader can be used by both professional and amateur
 photographers to download photos and videos from multiple cameras,
 memory cards and Portable Storage Devices simultaneously. It provides
 many flexible, user-defined options for subfolder creation, photo and
 video renaming, and backup.
