Source: rapid-photo-downloader
Section: graphics
Priority: optional
Maintainer: Julien Valroff <julien@kirya.net>
Build-Depends: debhelper (>= 7.0.50~),
               python-dev
Build-Depends-Indep: python-support (>= 0.90),
                     gettext
Standards-Version: 3.8.3
Homepage: http://damonlynch.net/rapid
Vcs-Git: git://git.kirya.net/git/rapid-photo-downloader.git
Vcs-Browser: http://git.kirya.net/?p=rapid-photo-downloader.git;a=summary
DM-Upload-Allowed: yes

Package: rapid-photo-downloader
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends}, 
         python-gnome2,
         python-gtk2 (>= 2.10),
         python-glade2 (>= 2.10),
         python-pyexiv2 (>= 0.1.1),
         python-notify,
         librsvg2-common,
         gnome-icon-theme,
         librsvg2-common
Description: Photo downloader (importer) from cameras, memory cards other devices
 Rapid Photo Downloader is written by a photographer for professional and
 amateur photographers. It can  download photos from multiple cameras,
 memory cards and Portable Storage Devices simultaneously. It provides many
 options for subfolder creation, image renaming and backup.
