Source: rapid-photo-downloader
Section: graphics
Priority: optional
Maintainer: Julien Valroff <julien@debian.org>
Build-Depends: debhelper (>= 7.0.50~),
               python
Build-Depends-Indep: python-support (>= 0.90),
                     gettext
Standards-Version: 3.9.1
Homepage: http://damonlynch.net/rapid
Vcs-Git: git://git.kirya.net/git/rapid-photo-downloader.git
Vcs-Browser: http://git.kirya.net/?p=rapid-photo-downloader.git;a=summary
DM-Upload-Allowed: yes

Package: rapid-photo-downloader
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends}, 
         python-gnome2,
         python-gtk2 (>= 2.12),
         python-glade2 (>= 2.12),
         python-gconf (>= 2.18),
         python-gnome2 (>= 2.12),
         python-pyexiv2 (>= 0.1.1),
         python-notify,
         librsvg2-common,
         gnome-icon-theme,
         librsvg2-common
Recommends:
         python-imaging,
         python-kaa-metadata,
         python-hachoir-metadata,
         ffmpegthumbnailer
Description: Photo downloader (importer) from cameras, memory cards other devices
 Rapid Photo Downloader can be used by both professional and amateur
 photographers to download photos and videos from multiple cameras,
 memory cards and Portable Storage Devices simultaneously. It provides
 many flexible, user-defined options for subfolder creation, photo and
 video renaming, and backup.
