#!/usr/bin/make -f

DEBVERS := $(shell dpkg-parsechangelog | sed -n -e 's/^Version: //p')
VERSION := $(shell echo '$(DEBVERS)' | sed -e 's/^[[:digit:]]*://' -e 's/[~-].*//')

export DH_VERBOSE=1

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_configure:
	pod2man --section=1 --release=$(VERSION) --center "" doc/rapid-photo-downloader.1.pod > rapid-photo-downloader.1

#override_dh_auto_install:
#	dh_auto_install -- --install-lib=/usr/share/rapid-photo-downloader --install-scripts=/usr/share/rapid-photo-downloader

override_dh_auto_clean:
#	-rm rapid-photo-downloader.1
	-rm -rf build/
#	dh_auto_clean

override_dh_installchangelogs:
	dh_installchangelogs CHANGES.rst
