#!/usr/bin/make -f
%:
	dh $@ --with python2

override_dh_auto_configure:
	pod2man --section=1 --release=$(VERSION) --center "" doc/rapid-photo-downloader.pod > rapid-photo-downloader.1

override_dh_auto_install:
	python setup.py install --root=debian/rapid --install-layout=deb --install-lib=/usr/share/rapid --install-scripts=/usr/share/rapid

override_dh_auto_clean:
	-rm rapid-photo-downloader.1
	-rm -rf build/
	dh_auto_clean

